.Chat__conversation {
	::-webkit-scrollbar {
		display: none !important;
	}
	width: 80%;
	height: 80%;
	@include responsive(tablet) {
		width: 95%;
	}
	margin: 0 auto;
	height: 82vh;
	padding: 10px 10px 10px 10px;
	overflow-y: scroll;
	ul {
		display: flex;
		flex-direction: column;
		margin: 0;
		padding: 0;
	}
	.message-cover_me,
	.message-cover {
		list-style: none;
		margin: 3px 0;
		background: #212121;
		color: rgb(218, 213, 213);
		width: fit-content;
		padding: 8px;
		border-radius: 20px 20px 20px 0;
		position: relative;
		max-width: 80%;
		div {
			img {
				width: 100%;
				border-radius: 10px;
			}
		}
		p {
			padding: 0;
			margin: 0;
			width: 100%;
			word-wrap: break-word;
		}
	}
	.message-cover {
		&::before {
			content: "";
			width: 0;
			height: 0;
			position: absolute;
			border-radius: 10px 0 0 0;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-bottom: 10px solid #212121;
			left: -7px;
			bottom: 0;
		}
	}
	.message-cover_me {
		align-self: flex-end;
		border-radius: 20px 20px 0 20px;
		&::before {
			content: "";
			width: 0;
			height: 0;
			position: absolute;
			border-radius: 10px 0 0 0;
			border-left: 11px solid transparent;
			border-right: 11px solid transparent;
			border-bottom: 11px solid #212121;
			right: -7px;
			bottom: 0;
		}
	}
	.message_user {
		color: #fff;
		padding: 3px 0;
	}
}
.Chat__input {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	order: 2;
	height: 10vh;
	input {
		width: 70%;
		height: 70%;
		border-radius: 20px;
		outline: none;
		padding-left: 10px;
		overflow: hidden;
		background: #212121;
		border: none;
		color: #fff;
		font-size: 16px;
	}
	.menu {
		position: absolute;
		display: flex;
		// justify-content: center;
		align-items: center;
		flex-direction: column;
		top: -100px;
		background-color: #212121;
		border-radius: 50%;
		width: 50px;
		height: auto;
		svg {
			fill: #fff;
			width: 34px;
			height: 34px;
		}
	}
	.div {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 50px;
		height: 50px;
		background-color: #212121;
		border-radius: 50%;
		position: relative;

		svg {
			width: 24px;
			height: 24px;
			fill: white;
		}
		#inputFile {
			display: none;
		}
		label {
			cursor: pointer;
			div {
				position: absolute;
				top: -20px;
				right: 0;
				width: 20px;
				height: 20px;
				display: flex;
				align-items: center;
				justify-content: center;
				background-color: #212121;
				border-radius: 50%;
				span {
					font-size: 12px;
					color: white;
				}
			}
		}
	}
}
